version: '2.4'

services:
  db:
    image: postgres:15-alpine
    container_name: nest_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    command: -c timezone=Asia/Kathmandu
    ports:
      - "5431:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_server
    command: npm run start:dev
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      AUTH_JWT_SECRET: ${AUTH_JWT_SECRET}
      FIREBASE_SA_ENC: ${FIREBASE_SA_ENC}
      FIREBASE_SA_KEY: ${FIREBASE_SA_KEY}
      SMS_TOKEN: ${SMS_TOKEN}
      SMS_URL: ${SMS_URL}
      FASTFOREX_API_KEY: ${FASTFOREX_API_KEY}
      FASTFOREX_API_URL: ${FASTFOREX_API_URL}
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./test:/app/test
      - ./tsconfig.json:/app/tsconfig.json
      - ./tsconfig.build.json:/app/tsconfig.build.json
      - ./jest.config.js:/app/jest.config.js
      - ./package.json:/app/package.json
      - ./reference:/app/reference
      - ./public:/app/public
    depends_on:
      db:
        condition: service_healthy

volumes:
  pg_data:
