version: '2.4'

services:
  db:
    image: postgres:15-alpine
    container_name: nest_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5431:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_server
    command: npm run start:dev
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: app_db
      AUTH_JWT_SECRET: dev-jwt-secret
      FIREBASE_SA_ENC: "bOP6B8pTnUTnqruR:Stx6FZe0nYREm8tOWHo2jdrBI+OUIH6KoauCKKx7adDr2yi9gLV3Akbw13znFCgIu+2RWMk/P1ecLsy9b0xEeUt9912sNVxKJJO8MpqM/sSDNNuzi5hJ4NZlyHr27Tfrf8Wtt0siTXVWNV/8a1n1mSXs7ttiPaoNO9a0G8bnwXv0K7rFizrnj0fGqNTAAPnLnnDpdfA4iKpt0V8Uw+kHltEwXG+KiExJ5zd18FMK/6LRlQk+X8Hr3YkihViE2UEiZfWQGcJ0Uc1hv2aeIbJ2zvhuVxLrGWkfRllVK8ToT3hKfANHCssjfbhqCtMtnDNjz6Pr38VjWpzjbCcIU0sP+4IWdeiqvHEgz9ggfWkL9ECP+CicY8JoLmJsjJdasTmYqxaIzoOkdlSjat3/uA1cjYg3uNxAB9w5cWTDCxm5xI9O0OTN5KDsIlsCz38Ieo/A4ajcuoEPwMWAM0vJPTfJMbJmD/TsODtX7ebmB4CUHs4LUKNkX81MPc5D4JWVQrZ3DHmTblk6iogBYzR/Vmx4rm2IINk5lk80FkhAAfjGZD29SuAR/XMUgEMf6a7lh3FsXkk0SzAzFUF/jjqOXD+tY2VB0bvCxTh9OwvuUd4cxnmU/NDIKlFTbPEM0ZKcqqzI5+DUCXAq8b27sEdhtLKgsc1os9u+htVUzjSEPsm84L/tgyL3D5Wk8Pz1iI/2msSvZpJWdfWEqIs3Pf23Aqhb+XXoxHlH7sSEP/mXTTIlz7Pu4iffqBeYUlt7S2mxifB/pKj2+qa3q03GCh2xXTU06ENCm6CVd4efbFyoBi9mlYKWiWkPkLHWSTgTP3a42aAAflqZpbFgntDz3ynlRkn4QVcsCT18VGWia9B3ol7lsodL+VItj+o8ai1D7EZJVX2UlDE9V4Q4eH0U63P73AaBoc6avyOTDWUitReJyaAgCsi7DXPmeSOg7DwuVkHp0IR3+aOT8mI8lnrAjI/ERGlsfowlzVChL+RYCQqy7s9s8ghtdwrol3h5bwOSVyGcoxTWHg2Z6AdtzIZ5OKXDpFOzdeG7tu3NDXdj2pNqTGqOL1aaJCC25vdxfDPipYXVXra7xAWHSW8DRcn6U03npBV4wHMcHyUYAVKKPAV3yr2mmSpbIPVRIm9eIXqa12V+nRIhylmnqqZwQ8UIB5w8YHJ2yGbzddJMjr+JMQXZ/RSdnW8sAXcN+NJ81ts7GOEvGSmNbpM6DD4wH0eohAp2WTu+u+DdL7Qnp9MMdrMLs48299YUV3EeSSxelg1DSr2t9xRwC6M80CKbudO6W1UemWBT1kP0vcH6P+Z84+1NT5d+eUBY4QAbMbdZ7XFzQsFmkT7wdCWiRFhAwzCuIAehZYEU4/Ns4Six9lHvAkpW0PTLrmHGZcOgm2hNnPsdbCCILbIrr3LTwUGhTWtLOW5/xhfHnHEf9IvtSwIWBXP/9MAM6vgI1c/GRDKyzuHC3unDuR1zdfWqkSF39h3M5LHcxDtbQ6fyjM1HV6vk6JaOcRxo8WzpBgtnpEhGbdtw225tuxmaLacFBkjZLJxx5AfnLeXl2YRINaWWdZF41GZf+IJItP4n7FBWldcbZ4sY8CZ26XvvHKc0YmqC0ULtts/jrB9ZP0Ajad7q2o68DU3arlJ+10hRbuu0IBOQ1hBCttB5fSeQS0/iLpOugHb/jKlHCSqXX8xzw3qaFL1eIImkL6SDhZzirM+Rk7J1m6TfHucfBn3dw3N2Uafh42Xe7UpCdhFP90ukcaMq9p5jC7FWKWsN1CEKvMRkzcuJrizF1Bx5J3ZlooSppQUXzhNbBUbKakmON6VZui4mX84cinG2D3AbRkzU3eouBupEO8Hf9uXZcxop4qgqAN6e8tb4pm3xOGwpYbY75fp1eLUK854XrcMF31Tg5V1oAGzK3FO/JRo6+3knnq2YZgpeUNIhy9ZX2ABBz5du0Zy1ngGt4skNZ2CQrsQKQvtFthtQLxHzPqHQnByt1hSyFVs2+EZrD9oEew2J2540UeKB+9N9f1X4Y6Ppmv8iJRiHs+kDtwzf2P2ezY4X+MOG5kLoKD8ONHQonpwn+xEZci7cTU9FdOzLhAuRxwfVVAdUNRUQrPRgZKcMXMJ805OIup1kKuQWLR8c8ukwavzLEo3Mh5k2A8GRqRQ/dio1mEXq1lwqb4tKR+x9SiAl8ZItCQTdflPAyLsUFgJmX4qrBT/h9rUxop7eTxHtJhoC8NLFrN/CKkXV3b06H7+hfA2ubTYcJwQgb8fB5ouVIpcai78dW0CfZYF/8/wo+F7T5i9+Q/h4XXOJ6x3sPrQjU5GOGF2n2K6oGe6zEYIuPg+HZrR5lySbFqvRk6WBdHIM6LMzYUqlPaGSctAjnI39uWke6UdGzSNmQ2OesMtTCC7HTufqvWvLUfZw6EUWN11Hf8E9FASsQ5nBLk6zrN0R7o+ZDq9mpl8xNRb/hIAqd2FMh0nv7YXbACQuAih7au1xtpvc/EVnFID2YuKrDlPjeB/jaQyT5FicmqHV3dDXsC9gqZxA9o5r8T+UeubOgQ08PDdEfwgCplwS2689QG7YOMqzuGFmDXpP8KOXRTrj+1nzgGet827bnvgJKmwcHbA7izq2Yi5kYVAl+EPb79+jP59gN4Uk/ZH54ykXNWE1AdnSQIpFKkE9Ob8PQ6sceqv2+8wwK66nuoojrkrtIGa9a+f4gWrEnzP1v2wScl+QN12WKZJidnvUwvPuHQOQ1cP0sNvXa+j1N1YG9ODxHm0wCvinYVvO/IR8znoo9E26hLFucHpCMR287w0BT4GYZdNyzDa9Wge/toowBLy/eN4/pOZwOIZqo3ZenPNR/TWBH1RSrN1sofCer3gJ7Ks7/nGNW36AUxJJE2jKgAQWDiLsHzmBIGZOwjHZJTh7mT9mIU7YJOInMVg/lYaNoZQ2SVSJXNVN/Gvbvpf7nPJf/1oW8YmqGlzxXrzCLy8WG0HTO+eFiSjPKJQAcjlAU/7ay+LIr1RERIoRz4Qdbdv2nGEjOB5Wt39t2yW1E/GYvcnDQKrjhGwNhgeAGxxwsG0l3IeHYIkthlIQC2e3cpjPab9BdPflw6Rnu9l7jXdLfct4OohlMITP9U8yurDvGeVZWrh9WwMNPG+0ci6xwCTw6P0vXFJI/Aiy8JeUAnAnCEowX+MbE5xv:so/ZpFHMBn6IqQTug+jJvQ=="
      FIREBASE_SA_KEY: ${FIREBASE_SA_KEY}
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./test:/app/test
      - ./tsconfig.json:/app/tsconfig.json
      - ./tsconfig.build.json:/app/tsconfig.build.json
      - ./jest.config.js:/app/jest.config.js
      - ./package.json:/app/package.json
      - ./reference:/app/reference
      - ./public:/app/public
    depends_on:
      db:
        condition: service_healthy

volumes:
  pg_data:
